

.Word {
    list-style-type: none;
}
.Phonetics {
    list-style-type: none;

}
.Meanings {
    list-style-type: none;

}.Part {
    list-style-type: none;

}

.PartTow {
    list-style-type: none;

}

